.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    height: 600px;
}

.video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
